In [1]:
import pandas as pd
import numpy as np

In [4]:
my_dataframe = pd.DataFrame({"Apples" : 30, "Bananas" : 21}, index  = [0])
my_dataframe

   Apples  Bananas
0      30       21

In [6]:
my_dataframe1 = pd.DataFrame({"Apples" : [35,41] , "Bananas" : [21, 34]}, index  = ['2017 Sales','2018 Sales'])
my_dataframe1

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [7]:
my_series = pd.Series({"Flour" : "4 cups", "Milk" : "1 cup", "Eggs" : "2 large" , "Spam" : "1 can", "Name" : "Dinner"})
my_series

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name      Dinner
dtype: object

In [8]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [9]:
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

True